html{
  height: 100%;
}

.btn{
  background: #5F939A;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   font-family: Verdana;
   font-size: 15px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   color: #F2EDD7;
   border: none;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 10px;
}
hr{
  border-top-style: dotted;
  border-bottom-style: none;
  border-top-width: 5px;
  width: 40px;
  color: #F2EDD7;


}
body{
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
}
table{
  margin: 0 auto 0 auto;
}
p{
  color: #F2EDD7;
  font-family: verdana, sans-serif;

}
span{
    font-family: verdana, sans-serif;
}
h1{
  position: relative;
  font-size: 5.63rem;
  margin: 50 auto 0 auto;
  font-family: sans-serif;
  font-family: 'Sacramento', cursive;
  /*display: inline;*/
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;

}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

.top{
  position: relative;
  text-align: center;
  padding-top: 100px;
  background-color: #5F939A;

}

.middle-container{
  margin: 0 auto 0 auto;
  background-color: #3A6351;
  padding-top: 10px;

}



.contact-me{
  width: 50%;
  margin-left: 25%;
}
.bottom-container{
  margin: 0 auto 0 ;
  padding-top: 20px;
  background-color: #F2EDD7;

}

.profile-pic{
  width: 200px;
  height:200px;
  border-radius: 50%;
}
.skills-img{
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 30px;
}

.showcase-img{
  height: 125px;
  width: 125px;
  float:right;
  margin-left: 30px;
}

.showcase-h3{
  text-align: right;
}


.top-cloud{
  position: absolute;
  right: 20%;
  top: 7%;

}

.bottom-cloud{
  position: absolute;
  left: 15%;
  top: 35%;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

.profile-p{
  width: 50%;
  margin: 0 auto 10px;
  line-height: 2;
  text-align: left;
}
.github{
  width: 20px;
  height: 20px;
}

.footer-link{
  margin-left: 10px;
  margin-right: 10px;
}

#copy{
  color: black;
}

#one{
  font-size: small;
}

#lower{
  color: black;
}

#toph2{
  font-size: 2.5rem;
  font-weight: normal;
}

#copy{
  font-size: small;
}

a{
  text-decoration: none;
}
